<div class="footer-section">
    <div class="col-md-4">{{ content }}</div>

    <div class="col-md-8">
        <div class="footer-label-copyright col-md-7">{{ '© Copyright 2016 CogecoTV, All Rights Reserved' | t }}</div>
        <div class="footer-terms-and-conditions col-md-3"><a href="{{ '/terms-and-conditions' | t }}">{{ 'Terms & Conditions' | t }}</a></div>
        <div class="col-md-2"><a href="{{ url_help }}">{{ 'Help' | t }}</a></div>
    </div>
</div>